.Subscriptions__header {
  margin: 0;
}

.Subscriptions__subscription {
  font-size: 85%;
  @media($large) {
    font-size: 100%;
  }
}

.Subscriptions__left {
  display: inline-block;
  width: 80%;
}

.Subscriptions__type {
  display: inline-block;
}

.Subscriptions__name {
  display: inline-block;
}

.Subscriptions__cost {
  display: inline-block;
}


