/* COLORS */
$content-background-color: #f2f3f4;
$header-background-color: #87cefa;
$panel-background-color: #81c784;
$panel-background-darker: #4CAF50;
$divider-color: #fff;

/* LAYOUT */
$content-margin-large: 32px;
$content-margin-small: 16px;
$panel-margin: 10px;

/* MEDIA QUERIES */
$large: 'min-width: 425px';
